.owl-carousel.products-image-slider {
    display: flex;
    align-items: center;
}


.owl-carousel.products-image-slider .owl-nav{
    // position: relative;
    // top: -45%;
    opacity: 0.3;
}

.owl-carousel.products-image-slider .owl-nav .owl-prev{
    position: absolute;
    left: 0;
    border-radius: 10px;
}

.owl-carousel.products-image-slider .owl-nav .owl-next{
    position: absolute;
    right: 0;
    border-radius: 10px;
}