.products-detail-3 {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(400px, 1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); */
    grid-template-columns: 400px repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
    /* grid-template-rows: max-content; */
    gap: 10px;
    grid-template-areas:
      'slider titleC similar'
      'slider pricing similar'
      'slider freq offers'
      'slider freq offers';
      align-items: start;
    /* 'slider titleC'
      'slider pricing'
      'slider freq'
      'similar similar'
      'offers offers'; */
  }
  
  @media (max-width: 1200px) {
    .products-detail-3 {
      grid-template-columns: repeat(2, minmax(400px, 1fr));
      grid-template-rows: 80px;
      grid-template-areas:
        'slider titleC'
        'slider pricing'
        'slider freq'
        'similar similar'
        'offers offers';
    }
  }
  
  @media (max-width: 834px) {
    .products-detail-3 {
      /* grid-template-columns: repeat(1, minmax(400px, 1fr)); */
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-areas: 'titleC' 'slider' 'pricing' 'freq' 'similar' 'offers';
    }
  }
  .slider {
    grid-area: slider;
    width:100%;
    overflow: auto;
  }
  .prod-details-main {
    grid-area: titleC;
    
  }
  .product-pricing-wrapper {
    grid-area: pricing;
  }
  .freq-area {
    grid-area: freq;
  }
  
  .similar-products-wrapper{
    grid-area: similar;
    overflow: auto;
  }
  .additional-offers-wrapper {
    grid-area: offers;
    overflow: auto;
  }
  