@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'assets/styles/colors.scss';
@import 'assets/styles/layout.scss';
@import 'assets/styles/responsive.scss';

// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// .container {
//   max-width: 1000px;
//   margin: 0 auto;
// }

.nav-container {
  display: flex;
  justify-content: space-between;
  // height: 46px;
}

nav {
  // background-color: #fff;
  // box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: left;
}

nav li {
  display: inline-block;
  transition: ease-in 0.2s;
}

nav a {
  padding: 1em 1.75em;
  text-decoration: none;
  // color: #444;
  display: block;
}

nav li:hover {
  cursor: pointer;
  //   background: linear-gradient(
  //     97deg,
  //     rgba(237, 250, 251, 1) 0%,
  //     rgba(242, 251, 252, 1) 27%,
  //     rgba(246, 252, 253, 1) 58%,
  //     rgba(250, 253, 254, 1) 84%,
  //     rgba(255, 255, 255, 1) 100%
  //   );
  background-color: #edfafb;
}

nav li:hover a {
  color: #444;
  &.main-heading {
    color: #444;
  }
}

.menu-main {
  z-index: 1;
  text-align: center;
  li {
    text-align: left;
    a.main-heading {
      color: white;
      font-size: 0.85rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.menu-sub {
  // z-index: -1;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  background-color: #edfafb;
  //   background: linear-gradient(
  //     97deg,
  //     rgba(237, 250, 251, 1) 0%,
  //     rgba(242, 251, 252, 1) 27%,
  //     rgba(246, 252, 253, 1) 58%,
  //     rgba(250, 253, 254, 1) 84%,
  //     rgba(255, 255, 255, 1) 100%
  //   );
  display: none;
  width: 100%;
  padding: 1em;
  color: #444;
  // color: #fff;
}

.menu-sub {
  .category-heading {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

nav li:hover .menu-sub {
  display: block;
}

.menu-sub li {
  display: block;
}

.menu-sub a {
  padding: 0;
  font-size: 0.9rem;
}

.menu-category {
  margin: 2em 1em;
}

.category-heading:first-of-type {
  // margin-top: 0;
}

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left;
}

.menu-col-1 {
  width: 25%;
}
.toggle-caret {
  display: none;
  position: absolute;
  top: 1em;
  left: 90%;
}
// @media only screen and (min-width:460px), screen and (max-width:767px){
//   nav {
//     max-width: 80%;
//   }
// }

// @media screen and (max-device-width: 767px) {
//   nav {
//     max-width: 80%;
//   }
// }

@media (max-width: 991px) {
  nav {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    overflow: auto;
    background-color: #edfafb;
    transform: translateY(-100px);
    visibility: hidden;
    opacity: 0;
    transition: ease-in 0.2s;
    max-width: 40%;
  }
  nav.has-side-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .nav-container {
    position: relative;
  }
  .toggle-main.active {
    position: absolute;
    left: 38%;
    top: 2rem;
  }
  nav ul li {
    display: block;
    text-align: left;
    position: relative;
  }
  .menu-main li {
    a.main-heading {
      color: #444;
    }
  }
  .menu-sub {
    z-index: inherit;
    position: relative;
    height: 0%;
    color: #444;
    box-shadow: none;
  }
  nav li:focus .menu-sub {
    display: block;
    height: 100%;
  }
  .menu-col-1 {
    display: block;
    float: none;
  }
  .toggle-main.active {
    display: block;
    .fas.fa-times {
      width: 100%;
    }
  }
  .toggle-caret {
    // pointer-events: none;
    display: block;
  }
  nav li:hover .menu-sub {
    display: none;
  }

  .menu-sub.active {
    display: block;
  }
}

// .checkbox {
//   .form-label {
//     margin: 0 0 0 10px;
//     display: inline;
//   }
//   input[type='checkbox'] {
//     position: relative;
//     // visibility: hidden;
//   }
//   input[type='checkbox']::before {
//     content: '\00a0';
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 1em;
//     height: 1em;
//     color: white;
//   }
//   input[type='checkbox']:checked::before {
//     content: '\2713';
//     background-color: #378b9f;
//     border-radius: 2px;
//   }
//   input[type='checkbox']:checked + label span {
//     font-weight: 700;
//   }
// }

.checkbox {
  position: relative;
  label {
    display: inline;
    span {
      padding: 0 0 0 10px;
    }
  }
  input[type='checkbox'] {
    opacity: 0;
  }

  label {
    &::before {
      position: absolute;
      content: '';
      left: 0;
      font-size: 10px;
      padding: 7px;
      top: 5px;
      left: -4px;
      margin: auto 0;
      z-index: -1;
      width: 1.2em;
      border-radius: 3px;
      height: 1em;

      border: 2px solid #6c757d;
    }
  }
  label:hover::before {
    cursor: pointer;
  }
  input[type='checkbox']:checked ~ label::before {
    content: '\2713';
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    background-color: #388c9f;
  }
}

// // checkbox
// https://stackoverflow.com/questions/34388696/how-to-change-the-background-color-on-a-input-checkbox-with-css
// .checkbox {
//   width: 100%;
//   margin: 15px auto;
//   position: relative;
//   display: block;
// }

// .checkbox input[type='checkbox'] {
//   width: auto;
//   opacity: 0.00000001;
//   position: absolute;
//   left: 0;
//   margin-left: -20px;
// }
// .checkbox label {
//   position: relative;
// }
// .checkbox label:before {
//   content: '';
//   position: absolute;
//   left: 0;
//   top: 0;
//   margin: 4px;
//   width: 22px;
//   height: 22px;
//   transition: transform 0.28s ease;
//   border-radius: 3px;
//   border: 2px solid #7bbe72;
// }
// .checkbox label:after {
//   content: '';
//   display: block;
//   width: 10px;
//   height: 5px;
//   border-bottom: 2px solid #7bbe72;
//   border-left: 2px solid #7bbe72;
//   -webkit-transform: rotate(-45deg) scale(0);
//   transform: rotate(-45deg) scale(0);
//   transition: transform ease 0.25s;
//   will-change: transform;
//   position: absolute;
//   top: 12px;
//   left: 10px;
// }
// .checkbox input[type='checkbox']:checked ~ label::before {
//   color: #7bbe72;
// }

// .checkbox input[type='checkbox']:checked ~ label::after {
//   -webkit-transform: rotate(-45deg) scale(1);
//   transform: rotate(-45deg) scale(1);
// }

// .checkbox label {
//   min-height: 34px;
//   display: block;
//   padding-left: 40px;
//   margin-bottom: 0;
//   font-weight: normal;
//   cursor: pointer;
//   vertical-align: sub;
// }
// .checkbox label span {
//   position: absolute;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
// }
// .checkbox input[type='checkbox']:focus + label::before {
//   outline: 0;
// }

@media (max-width: 767px) {
  nav {
    max-width: 80%;
  }
  .toggle-main.active {
    left: 79%;
  }
}
