.profile-menu {
  display: absolute;
  background: white;
  width: 50%;
}

.menu-grid {
  display: grid;
  padding: 0 1em 0 0;
  grid-template-columns: 1fr 2fr;
  transition: all ease-in-out 0.3s;
}



.menuitem__icon {
  text-align: center;
  color: black;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}
.menuitem__title {
  text-align: center;
  color: black;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

.menu-grid:hover{
    background: rgba(141, 137, 137, 0.4);
}


.dropdown-menu {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}
